
{% extends 'main.html' %}
{% block content %}
<section id="dashbord">
    <div class="dashboard">
        <!-- ========================== dash board first part ================================ -->

        <!-- ========================== dash board secong part ================================ -->
        <div class="dash_2">
            <div class="dash2_body">
                <div class="greeting_flex">
                    <h2><i class="uil uil-tachometer-fast-alt"></i> Cart</h2>
                    <div class="good_morn">
                        <h3 id="greetings"></h3>
                        <p>welcome to your BMP Cart Dashboard</p>
                    </div>
                </div>

                {% for msg in messages %}
                <button class="messages"><i class="uil uil-exclamation-triangle"></i> {{msg}}</button>
                {% endfor %}

                <div class="totals">
                    <div class="total_sub">
                        <i class="uil uil-usd-circle"></i>
                        <p>Total Price</p>
                        <h3>${{order.total_item_price|floatformat:2}}</h3>
                    </div>

                    <div class="total_sub2">
                        <i class="uil uil-shopping-bag"></i>
                        <p>Total Items</p>
                        <h3>{{order.num_of_items}}</h3>
                    </div>
                </div>
            </div>

            <div class="product_heading">
                <ul class="product_ul_1">
                    <li>Item</li>
                    <li>Item Name</li>
                    <li>Price</li>
                    <li>Quantity</li>
                    <li>Total</li>
                </ul>

                
                {% for item in items %}
                <div class="product_items">
                    <img src="{{item.product.imageURL}}" alt="">
                    <p>{{item.product.name}}</p>
                    <p>${{item.product.price|floatformat:2}}</p>
                    <p id="quantity">{{item.quantity}} 
                        <i class="uil uil-minus-square-full" id="update-cart" data-product="{{item.product.id}}" data-action="remove"></i>
                        <i class="uil uil-plus-square" id="update-cart" data-product="{{item.product.id}}" data-action="add"></i> 
                    </p>
                    <p>${{item.item_total_price|floatformat:2}}</p>
                </div>

                {% empty %}


                <span class="no_item">No Item Ordered Yet!!!</span>
                
                {% endfor %}
            </div>
        </div>
    </div>
</section>


<form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
    <input type="hidden" name="public_key" value="FLWPUBK_TEST-1846f466dad001520b9bf6345d69c9cb-X" />
    <input type="hidden" name="customer[email]" value="{{user.email}}" />
    <input type="hidden" name="customer[name]" value="{{user.first_name}}" />
    <input type="hidden" name="tx_ref" value="bitethtx-019203" />
    <input type="hidden" name="amount" value="{{order.total_item_price}}" />
    <input type="hidden" name="currency" value="USD" />
    <input type="hidden" name="meta[token]" value="54" />
    <input type="hidden" name="redirect_url" value=""/>
    <input type="submit" id="start-payment-button" class="checkout" value="Pay Now" >
</form>

<script>
    // ============ Date and Time ===================,
    var now = new Date();
    var hrs = now.getHours();
    var msg_greet = "";

    if (hrs > 0) msg_greet = "Good morning sunshine! 🌞" ; // REALLY early
    if (hrs > 6) msg_greet = "Good morning Sir/Ma 😊"; // After 6am
    if (hrs > 12) msg_greet = "Good afternoon Boss 😀"; // After 12pm
    if (hrs > 17) msg_greet = "Good evening Dear 😁" ; // After 5pm
    if (hrs > 22) msg_greet = "It's bedtime 💤💤"; // After 10pm

    document.getElementById("greetings").innerHTML = msg_greet
</script>

<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>

    let order_total = '{{order.total_item_price}}'
    let order_id = '{{order.id}}'
    let user_email = "{{user.email}}"
    let cus_name = "{{user.first_name}}"
    let our_logo = 'images/bmp innovations.png'

    function makePayment() {
        FlutterwaveCheckout({
          public_key: "FLWPUBK_TEST-1846f466dad001520b9bf6345d69c9cb-X",
          tx_ref: "titanic-48981487343MDI0NzMx",
          amount: order_total,
          currency: "USD",
          payment_options: "card, mobilemoneyghana, ussd",
          redirect_url: "http://127.0.0.1:8000/confirm_pay/" + order_id,
          meta: {
            consumer_id: 23,
            consumer_mac: "92a3-912ba-1192a",
          },
          customer: {
            email: user_email,
            name: cus_name,
          },
          customizations: {
            title: "BMP Store",
            description: "Payment for an awesome product",
            logo:"",
          },
        });
      }
</script>

{% endblock %}