
{% extends 'main.html' %}
{% block content %}
<section id="dashbord">
    <div class="dashboard">

        <!-- ========================== dash board secong part ================================ -->
        <div class="dash_2">
            <div class="dash2_body">
                <div class="greeting_flex">
                    <h2><i class="uil uil-server-connection"></i> Job Gallery</h2>
                    <div class="good_morn">
                        <h3 id="greetings"></h3>
                        <p>welcome to your BMP Cart Dashboard</p>
                    </div>
                </div>


                <!-- ==================================== Gallery =================================== -->
        <section id="gallery_page">
            <div class="gallery_desc">
                <h2>Explore our creative unique  <br> design portfolios </h2>
                <p>
                    Feel Free Explore our uniques designs from logo designs, advert designs <br>
                    business card designs, brand-identity design, wed/app development etc.
                </p>
            </div>
            <img src="/static/images/welcome-bg2.png" alt="">
            </section>

            <section id="images_flex">
                <ul class="list-flex">
                    <li class="list active" data-filter="all">Discover</li>
                    <li class="list" data-filter="logo">Logo</li>
                    <li class="list" data-filter="ui">UI,UX</li>
                    <li class="list" data-filter="app">Web/App</li>
                    <li class="list" data-filter="nft">NFT</li>
                    <li class="list" data-filter="station">Stationary</li>
                    <li class="list" data-filter="adv">Advert</li>

                </ul>
                <div class="images_flex">

                    <div class="images1" data-item="logo">
                        <img src="/static/images/fig5.webp" alt="">
                    </div>

                    <div class="images1" data-item="logo">
                        <img src="/static/images/fig24.webp" alt="">
                    </div>

                    <div class="images1" data-item="ui">
                        <img src="/static/images/fig6.webp" alt="">
                    </div>

                    <div class="images1" data-item="app">
                        <img src="/static/images/fig2.webp" alt="">
                    </div>

                    <div class="images1" data-item="adv">
                        <img src="/static/images/fig14.webp" alt="">
                    </div>

                    <div class="images1" data-item="logo">
                        <img src="/static/images/fig22.webp" alt="">
                    </div>

                    <div class="images1" data-item="ui">
                        <img src="/static/images/fig1.webp" alt="">
                    </div>

                    <div class="images1" data-item="logo">
                        <img src="/static/images/fig27.webp" alt="">
                    </div>

                    <div class="images1" data-item="adv">
                        <img src="/static/images/fig8.webp" alt="">
                    </div> 


                    <div class="images1" data-item="app">
                        <img src="/static/images/fig3.webp" alt="">
                    </div>


                    <div class="images1" data-item="adv">
                        <img src="/static/images/fig7.webp" alt="">
                    </div>

                    <div class="images1" data-item="adv">
                        <img src="/static/images/fig9.webp" alt="">
                    </div>

                    <div class="images1" data-item="logo">
                        <img src="/static/images/fig26.webp" alt="">
                    </div>

                    <div class="images1" data-item="adv">
                        <img src="/static/images/fig10.webp" alt="">
                    </div>
                    
                    <div class="images1" data-item="ui">
                        <img src="/static/images/fig4.webp" alt="">
                    </div>  

                    <div class="images1" data-item="app">
                        <img src="/static/images/fig11.webp" alt="">
                    </div>

                    <div class="images1" data-item="nft">
                        <img src="/static/images/fig12.webp" alt="">
                    </div>

                    <div class="images1" data-item="adv">
                        <img src="/static/images/fig13.webp" alt="">
                    </div>

                    <div class="images1" data-item="adv">
                        <img src="/static/images/figa.webp" alt="">
                    </div>

                    <div class="images1" data-item="app">
                        <img src="/static/images/fig16.webp" alt="">
                    </div>

                    <div class="images1" data-item="station">
                        <img src="/static/images/fig17.webp" alt="">
                    </div>

                    <div class="images1" data-item="adv">
                        <img src="/static/images/fig18.webp" alt="">
                    </div>

                    <div class="images1" data-item="station">
                        <img src="/static/images/fig19.webp" alt="">
                    </div>

                    <div class="images1" data-item="station">
                        <img src="/static/images/fig20.webp" alt="">
                    </div>

                    <div class="images1" data-item="logo">
                        <img src="/static/images/fig21.webp" alt="">
                    </div>

                    <div class="images1" data-item="app">
                        <img src="/static/images/p2.png" alt="">
                    </div>

                    <div class="images1" data-item="ui">
                        <img src="/static/images/p5.png" alt="">
                    </div>

                    <div class="images1" data-item="app">
                        <img src="/static/images/p7.png" alt="">
                    </div>

                    <div class="images1" data-item="adv">
                        <img src="/static/images/p14.png" alt="">
                    </div>

                    <div class="images1" data-item="logo">
                        <img src="/static/images/fig25.webp" alt="">
                    </div>

                    <div class="images1" data-item="logo">
                        <img src="/static/images/fig23.webp" alt="">
                    </div>

                    
                    <div class="images1" data-item="station">
                        <img src="/static/images/fig28.webp" alt="">
                    </div>
                </div>
            </section>

            </div>
        </div>
    </div>
</section>

<script>
    let list = document.querySelectorAll(".list")
    let images1 = document.querySelectorAll(".images1")

    for (let i = 0; i < list.length; i++) {
        list[i].addEventListener("click", function () {
            for (let j = 0; j < list.length; j++) {
                list[j].classList.remove('active');
            }

            this.classList.add('active')
            let dataFilter = this.getAttribute("data-filter")

            for (let k = 0; k < images1.length; k++) {
                images1[k].classList.remove('active')
                images1[k].classList.add('hide')

                if (images1[k].getAttribute('data-item') == dataFilter || dataFilter == "all") {
                    images1[k].classList.remove('hide')
                    images1[k].classList.add('active')
                }
            }
        })
    }
</script>


<!-- Swiper JS -->
<script>
    // ============ Date and Time ===================,
    var now = new Date();
    var hrs = now.getHours();
    var msg_greet = "";

    if (hrs > 0) msg_greet = "Good morning sunshine! 🌞" ; // REALLY early
    if (hrs > 6) msg_greet = "Good morning Sir/Ma 😊"; // After 6am
    if (hrs > 12) msg_greet = "Good afternoon Boss 😀"; // After 12pm
    if (hrs > 17) msg_greet = "Good evening Dear 😁" ; // After 5pm
    if (hrs > 22) msg_greet = "It's bedtime 💤💤"; // After 10pm

    document.getElementById("greetings").innerHTML = msg_greet
</script>
{% endblock %}