<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>

        <!-- --------------------icon-link--------------------- -->
        <link rel="stylesheet"
            href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <script src="https://kit.fontawesome.com/7e5c572194.js"
            crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'CSS/styles.css'%}">

        <link rel="stylesheet" href="{% static 'query/style_query.css' %}">

        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    </head>
    <body>

        {% block content %}
        <!-- -----------------header------------------ -->
        <header id="header">
            <div class="header1">
                <a href="{% url 'index' %}"><img src="{% static 'images/bmp innovations.png' %}"alt=""></a>
            </div>

            {% if user.is_authenticated %}
            <div class="header2">
                <ul id="sidemenu">
                    <a href="{% url 'index' %}"><li>Home</li></a>
                    <a href="{% url 'gallery' %}"><li>Gallery</li></a>
                    <a href=""><li>About Us</li></a>
                    <a href="{% url 'contact' %}"><li>Contact Us</li></a>
                    <a href="{% url 'post' %}"><li>Blog</li></a>
                    <a href="{% url 'dashboard' %}"><li class="register">Dashboard</li></a>
                    <a href="{% url 'signout'%}"><li class="login">LOGOUT</li></a>
                    <i class="uil uil-times-square" onclick="close1menu()"></i>
                </ul>

                <div class="header3">
                    <a href="{% url 'dashboard' %}"><img src="{% static 'images/cart logo.png' %}" alt=""></a>
                    <a href=""><p id="num_of_items" style="font-size: 13px;">{{order.num_of_items}}</p></a>
                </div>

                <a href="{% url 'profile' %}"><img src="{{user.profile.image.url}}" alt="" class="avatar"></a>
                
            </div>
            <i class="uil uil-bars" onclick="open1menu()"></i>

            {% else %}

            <div  class="header2">
                <ul id="sidemenu">
                    <a href=""><li>Home</li></a>
                    <a href="{% url 'gallery' %}"><li>Gallery</li></a>
                    <a href=""><li>About Us</li></a>
                    <a href="{% url 'signin' %}"><li>Contact Us</li></a>
                    <a href="{% url 'signin' %}"><li>Blog</li></a>
                    <a href="{% url 'signin' %}"><li class="login">LOGIN</li></a>
                    <a href="{% url 'register' %}"><li class="register">Register</li></a>
                    <i class="uil uil-times-square" onclick="close1menu()"></i>
                </ul>

                <div class="header3">
                    <a href="{% url 'signin' %}"><img src="{% static 'images/cart logo.png' %}" alt=""></a>
                    <a href=""><p id="num_of_items" style="font-size: 13px;">{{num_of_items}}</p></a>
                </div>
            </div>
            <i class="uil uil-bars" onclick="open1menu()"></i>

            {% endif %}
        </header>


        <section id="packages1">
            <div class="packages1-flex">

                <div>
                    <img src="{{packages.imageURL3}}" alt="" style="width: 100%; border-radius:20px;">
                </div>
                <div class="pack1-1">
                    <h4>{{packages.name}}</h4>
                    <h3>${{packages.price}} <sub>only</sub></h3>
                    <ul>
                        {% for desc in packages.desc_arr %}
                            <li>{{desc}}</li>
                        {% endfor %}

                    </ul>

                    <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
                        <input type="hidden" name="public_key" value="FLWPUBK_TEST-1846f466dad001520b9bf6345d69c9cb-X" />
                        <input type="hidden" name="customer[email]" value="{{user.email}}" />
                        <input type="hidden" name="customer[name]" value="{{user.first_name}}" />
                        <input type="hidden" name="tx_ref" value="bitethtx-019203" />
                        <input type="hidden" name="amount" value="{{packages.price}}" />
                        <input type="hidden" name="currency" value="USD" />
                        <input type="hidden" name="meta[token]" value="54" />
                        <input type="hidden" name="redirect_url" value=""/>
                        <button type="submit" id="start-payment-button select_plan1" class="checkout" >Pay Now</button>
                    </form>
                </div>
            </div>
        </section>




        <!-- ============================footer============================ -->
        <footer>
            <div class="footer">
                <div class="footer_image">
                    <img src="/static/images/bmp innovationsz.png" alt="">
                    <span>
                        BMP Inovations is the best place to solve your
                        business branding
                        and growth challenges, make an other today and feel
                        satisfield.
                    </span>

                </div>


                <div class="quick_links">
                    <h4>QUICK LINKS</h4>
                    <a href="{% url 'gallery' %}"><span>Gallery</span></a>
                    <a href="{% url 'gallery' %}"><span>About us</span></a>
                    <a href="{% url 'contact' %}"><span>Contact us</span></a>
                    <a href="{% url 'dashboard' %}"><span>Dashboard</span></a>
                </div>

                <div class="address">
                    <h4>ADDRESS</h4>
                    <span>34 D/line, Port Harcourt, Rivers State</span>
                    <span>+234 80944 22807, +234 80944 22807</span>
                    <span>bmpinovations@gmail.com</span>
                </div>


                <div class="social">
                    <h4>SOCIAL MEDIA</h4>
                    <i class="uil uil-facebook"></i>
                    <i class="uil uil-instagram"></i>
                    <i class="uil uil-twitter"></i>
                    <i class="uil uil-github"></i>
                    <button>Sign Up</button>
                </div>
            </div>


            <hr style="height:1px;border-width:0;color:rgb(42, 42,
                80);background-color:rgb(42, 42, 80); margin-bottom:40px;">
            <span class="copy">Copyright © 2021-2023 BMP Inovations Company
                S.L. All rights reserved.</span>

        </footer>

    </body>

    {% endblock %}
</html>